/doc/chap*.html
/doc/chap*.txt
/doc/*.css
/doc/*.js
/doc/chooser.html
/doc/*.aux
/doc/*.bbl
/doc/*.blg
/doc/*.brf
/doc/*.idx
/doc/*.ilg
/doc/*.ind
/doc/*.lab
/doc/*.log
/doc/*.out
/doc/*.pnr
/doc/*.six
/doc/*.tex
/doc/*.toc
/doc/manual.pdf
/doc/_*.xml

/bin/
/gen/
/Makefile
/src/mtx64/osx-*.s

/tmp/
/gh-pages/

*~
/etc/benchdata.g
mtx64v2b.old
src/mtx64.old
/src/TAGS
/src/mtx64/TAGS
.DS_Store

*.lo
*.la

